<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Chapter_1___Contacts.Properties.Settings.ContactDBConnectionString"
            connectionString="Data Source=|DataDirectory|\ContactDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>